.stringEntryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.stringEntryContainer .stringEntryBox {
  margin: 10px;
  width: 90%;
  height: 90%;
  border-radius: 0.5rem;
  border: none;
}

.stringEntryContainer .stringEntryBox:focus {
  outline: none !important;
  border-color: #e6e6e6;
  box-shadow: 0 0 4px #e6e6e6;
  background-color: #e6e6e6;
}

.stringEntryContainer .stringEntryBox:hover {
  outline: none !important;
  border-color: #eeeeee;
  box-shadow: 0 0 4px #eeeeee;
  background-color: #eeeeee;
}
