.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0px;
  margin: 0px;
}
.footer h3 a {
  color: #6f2232;
  text-decoration: none;
}
